# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IntelliJ
.idea

# Xcode
unsung-anthem.xcodeproj

# Visual Studio
*.sln
*.mdproj
*.userprefs

# Visual Studio Code
.vscode

# Python
*.pyc

# GitHub Authorization Token
token
.github_api

# Local helper files
replace

# Utilities to include
!util/bin/
